@model IEnumerable<Revifast.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:black;">
</body>

<h1 style="color:white">Vehiculos</h1>

<p>
    <a asp-action="Create">Registrar Vehiculo</a>
</p>
<table class="table" style="color:white">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehiculoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehiculoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehiculoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
