@model IEnumerable<Revifast.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}
    <body style="background-color:black;">
    </body>

<h1 style="color:white">Empresas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:white">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Ruc)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpresaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpresaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpresaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
